.site-msg {
   height: 100dvh;
   width: 100%;
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 15px;
}

.site-msg p {
   color: #fff;
   font-size: 40px;
   font-weight: 500;
   padding: 0;
   margin: 0;
}

.site-msg a {
   --white-color: #fff;
   --red: red;
   color: var(--red);
   border-bottom: 3px solid var(--white-color);
   text-decoration: none;
}

@media screen and (max-width: 580px) {
   .site-msg p {
      font-size: 30px;
   }
}